<footer class="jumbotron fondo-footer">
    <div class="text-center text-white">
      <div class="container-fluid">
        <div class="row justify-content-center">
        </div>
        <div class="text-center mb-2">
          <a href="#" class="text-white me-4" aria-label="Facebook">
            <i class="fa fa-facebook-f"></i>
          </a>
          <a href="#" class="text-white me-4" aria-label="Twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#" class="text-white me-4" aria-label="Google">
            <i class="fa fa-google"></i>
          </a>
          <a href="#" class="text-white me-4" aria-label="Instagram">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="#" class="text-white me-4" aria-label="LinkedIn">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="#" class="text-white me-4" aria-label="GitHub">
            <i class="fa fa-github"></i>
          </a>
        </div>
      </div>
      <div class="text-center p-3 bg-dark">
        Centro Escolar Vicente Guerrero
      </div>
    </div>
  </footer>
  